[submodule "external/asmjit"]
	path = ThirdParty/asmjit
	url = https://github.com/asmjit/asmjit
	branch = master
[submodule "external/asmjit-utilities"]
	path = ThirdParty/asmjit-utilities
	url = https://github.com/tetzank/asmjit-utilities
